<div class="ui text container">
  <h1 class="ui inverted header">
    Monitor
  </h1>
  <h2>
    Notify you when your web sites are down
  </h2>
  <a href="/signup">
    <div class="ui huge primary button">Get Started<i class="right arrow icon"></i></div>
  </a>
</div>

