<script>
  $(document).ready(function () {
    $('.ui.form').form({
      fields: {
        email: {
          identifier: 'uname',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter your e-mail'
            },
            {
              type: 'email',
              prompt: 'Please enter a valid e-mail'
            }
          ]
        },
        token: {
          identifier: 'utoken',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter your token'
            }
          ]
        }
      }
    });
    $('.ui.form').ajaxForm({
      success: (res, status, oXhr, form) => {
        resJSON = oXhr.responseJSON
        sweetAlert(resJSON.msgType, resJSON.message, "success")
          .then(() => window.location.replace('/monitor'));
      },
      error: (oXhr, sStatus, sError) => {
        resJSON = oXhr.responseJSON
        sweetAlert(resJSON.errType, resJSON.message, "error");
      }
    });
  });

</script>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Log-in to your monitor
      </div>
    </h2>
    <form class="ui large form" action="/apis/v1/auth" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="uname" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="utoken" placeholder="Your token">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/signup">Sign Up</a>
    </div>
  </div>
</div>