<style type="text/css">
  body {
    height: 100%;
    background-image: url('https://res.cloudinary.com/digf90pwi/image/upload/e_blur:628/v1498184975/1_dvzfbv.jpg') !important;
    background-size: cover !important;
  }

  body>div.pusher>div>div.ui.middle.aligned.center.aligned.grid {
    height: 100%;
  }

  .column {
    max-width: 450px;
  }
</style>
<script>
  $(document).ready(function () {
    $('.ui.form').form({
      fields: {
        email: {
          identifier: 'uname',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter your e-mail'
            },
            {
              type: 'email',
              prompt: 'Please enter a valid e-mail'
            }
          ]
        }
      }
    });
    $('.ui.form').ajaxForm({
      success: (res, status, oXhr, form) => {
        resJSON = oXhr.responseJSON
        sweetAlert(resJSON.msg_type, resJSON.message, "success")
          .then(() => window.location.replace('/login'));
      },
      error: (oXhr, sStatus, sError) => {
        resJSON = oXhr.responseJSON
        sweetAlert(resJSON.err_type, resJSON.message, "error");
      }
    });
  });

</script>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Registe Your Email
      </div>
    </h2>
    <form class="ui large form" action="/apis/v1/user" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="uname" placeholder="E-mail address">
          </div>
        </div>
        <div class="ui fluid large teal submit button">SIGN UP</div>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>